html {
    min-height: 100vh;
}

body {
   background-image: linear-gradient(white,aliceblue);
   font-size: 100%;
  margin: 10px;
  padding: 20px;
}

h2, h3, h4{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

a:link{
    color:mediumslateblue
}

a:visited{
    color:mediumorchid
}

a:hover{
    color:slateblue
}

a:visited:hover{
    color:darkorchid
}